DATABASE_URL=postgres://postgres:postgres@postgres:5432/miem-contest?sslmode=disable # формат строки подключения к базе данных PostgreSQL
JWT_SECRET=d8179a1e10dc07611fda9d71f7a3075720fc61e88ea06025d407ed88395795ef # секретный ключ для генерации JWT токенов, который гененрируем командой openssl rand -hex 32
PORT=8080 # порт, на котором будет работать сервер сейчас локально, но в продакшене может быть другой
ADMIN_EMAIL=admin@hse.ru # email администратора, который будет использоваться для восстановления пароля и других административных задач
CORS_ALLOWED_ORIGIN=* # разрешенные источники для CORS, в данном случае разрешены все, но в продакшене стоит указать конкретные домены
ACCESS_TOKEN_DURATION=15m # время жизни access токена, после которого он станет недействительным, в нашем случае 15 минут
REFRESH_TOKEN_DURATION=168h # время жизни refresh токена, после которого он станет недействительным, в нашем случае 168 часов т.е 7 дней
BCRYPT_COST=10 # стоимость хэширования паролей с помощью bcrypt, чем выше значение, тем дольше будет происходить хэширование, но тем безопаснее будут пароли, поэтому берем компромиссное значение 10
RATE_LIMIT_ATTEMPTS=5 # количество попыток, которые пользователь может сделать в течение времени, прежде чем будет ограничен в них
RATE_LIMIT_WINDOW=1m # окошко времени, в течение которого будут считаться попытки для ограничения